.Bio {
  
  width: 75%;

  .bioContents {
    border-radius: 2em;
    padding: 1em;
    padding-left: 2em;
    margin: 1em;
  
    .myInfo {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
    }

    .myInfo p::first-letter {
      font-size: 120%;
      font-family: 'Electrolize', sans-serif;
    }

    .bioText {
      font-family: 'Baloo Thambi 2', cursive;
      font-size: 18px;
    }
  
    .imgContainer {
      overflow: hidden;
      height: 30em;
      width: 30em;
      border-radius: 50em;
      border: 5px double #26dafd;
      margin: auto;
  
      img {
        width: inherit;
        opacity: 0.50
      }
    }

  
    @media only screen and (max-width: 800px) {
      .imgContainer {
        overflow: hidden;
        height: 20em;
        width: 20em;
        border-radius: 50em;
        margin-bottom: 1em;
        margin: auto;
      }
     
    }
  }
}