.Bio {
  
  width: 75%;
  display: inline-block;
  padding: 30px;

  .bioContents {
    border-radius: 2em;
    padding: 1em;
    padding-left: 2em;
    margin: 1em;
  
    .myInfo {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
    }

    .myInfo p::first-letter {
      font-size: 120%;
      font-family: 'Electrolize', sans-serif;
    }

    .bioText {
      font-family: 'Baloo Thambi 2', cursive;
      font-size: 18px;
    }
  
    .imgContainer {
      overflow: hidden;
      height: 30em;
      width: 30em;
      border-radius: 50em;
      border: 5px double #26dafd;
      margin: auto;
  
      img {
        width: inherit;
        opacity: 0.50
      }
    }

  
    @media only screen and (max-width: 800px) {

      padding: 0;
      margin: 5px;

      .imgContainer {
        overflow: hidden;
        height: 20em;
        width: 20em;
        border-radius: 50em;
        margin-bottom: 1em;
        margin-right: 1.5em;
      }

      .bioContents {
        margin: 0;
        padding: 0;
      }
     
    }

    @media only screen and (max-width: 500px) {
      .imgContainer {
        height: 10em;
        width: 10em;
        border-radius: 5em;
        margin-right: .5em;
      }
    }

    @media only screen and (min-width: 1024px) {
      .imgContainer {
        margin-right: -.5em;
        margin-bottom: .5em;
      }
    }

    @media only screen and (max-width: 360px) {
      .imgContainer {
        height: 8em;
        width: 8em;
        border-radius: 5em;
        margin-right: .5em;
      }
    }

    @media only screen and (max-width: 340px) {
      .imgContainer {
        display: none;
      }
    }

  }
}