.Projects {
  .projectContents {
    background-color: rgba(0, 0, 0, 0.60);
    color: rgb(45, 112, 48);
    border-radius: 2em;
    padding: 1em;
    border: limegreen dotted 2px;
    padding-left: 2em;
    margin: 1em;
    box-shadow: 5px 5px 10px rgb(45, 112, 48);

    .carouselInfo {
      background-color: rgba(0, 0, 0, 0.70);
      border-radius: 1em;
      margin: 10px;
    }

    .projectInfo {
      font-family: 'Baloo Thambi 2', cursive;
      font-size: 20px;
    }

    .carousel-control-prev-icon,
    .carousel-control-next-icon {
      height: 80px;
      width: 80px;
      border-radius: 50%;
      background-color: rgba(0, 0, 0, 0.70);
      background-image: none;
    }
    
    .carousel-control-next-icon:after
    {
      content: '>';
      font-size: 45px;
      font-weight: bold;
      color: limegreen;
    }
    
    .carousel-control-prev-icon:after {
      content: '<';
      font-size: 45px;
      font-weight: bold;
      color: limegreen;
    }

    .carousel .carousel-inner {
      width: 100%;
      height: 38em;
      object-fit: cover;
      overflow: hidden;
      align-content: center;
    }

    img {
      height: 100%;
    }

    .carousel-caption {
      text-align: center;
      max-width: 100%;
      padding: 5px;
      margin: 0;
    }

    a:link {
      color: rgb(0, 255, 115);
    }
    
    a:visited {
      color: rgb(0, 255, 115);
    }
    
    a:hover {
      color: yellowgreen;
    }
    
    a:active {
      color: yellow;
    }

    @media only screen and (max-width: 700px) {

      .carousel .carousel-inner {
        object-fit: inherit;
        overflow: hidden;
        margin-bottom: auto;
        height: 20em;
      }
      .carousel-caption {
        top: 80%;
        width: 70%;

        .description {
          display: none;
        }
      }
      
    }
  }

  @media only screen and (min-width: 800px) {
    .title2 {
      display: none;  
    }

    .title {
      overflow: hidden;
      white-space: nowrap;
      margin: 0 auto;
      animation:
        typing 3.5s steps(40, end);
    }
    span {
      overflow: hidden;
      border-right: .15em solid limegreen;
      white-space: nowrap;
      margin: 0 auto;
      animation:
        blink-caret .75s step-end infinite;
    }

    @keyframes typing {
      from { width: 0 }
      to { width: 100% }
    }

    @keyframes blink-caret {
      from, to { border-color: transparent }
      50% { border-color: limegreen; }
    }
  }

  @media only screen and (max-width: 800px) {

    .title2 {
      display: block;
    }
    
    .title {
      display: none;
    }
    
  }
}