.Contact {
  .contactContents {
    background-color: rgba(0, 0, 0, 0.60);
    color: rgb(45, 112, 48);
    border-radius: 2em;
    padding: 1em;
    border: limegreen dotted 2px;
    padding-left: 2em;
    margin: 1em;
    box-shadow: 5px 5px 10px rgb(45, 112, 48);

    .contactLinks {
      justify-content: space-around;
      margin: 1em;
      display: flex;
      flex-flow: row wrap;
    }

    .contactInfo {
      font-family: 'Baloo Thambi 2', cursive;
      font-size: 20px;
    }

    .email, .fa-linkedin {
      font-family: 'Share Tech', sans-serif;
      font-size: 2em;
    }

    a:link {
      color: rgb(0, 255, 115);
    }
    
    a:visited {
      color: rgb(0, 255, 115);
    }
    
    a:hover {
      color: yellowgreen;
    }
    
    a:active {
      color: yellow;
    }
  }

  @media only screen and (min-width: 800px) {
    .title2 {
      display: none;  
    }

    .title {
      overflow: hidden;
      white-space: nowrap;
      margin: 0 auto;
      animation:
        typing 3.5s steps(40, end);
    }
    span {
      overflow: hidden;
      border-right: .15em solid limegreen;
      white-space: nowrap;
      margin: 0 auto;
      animation:
        blink-caret .75s step-end infinite;
    }

    @keyframes typing {
      from { width: 0 }
      to { width: 100% }
    }

    @keyframes blink-caret {
      from, to { border-color: transparent }
      50% { border-color: limegreen; }
    }
  }

  @media only screen and (max-width: 800px) {

    .title2 {
      display: block;
    }
    
    .title {
      display: none;
    }
    
  }
  
}