.Contact {
  display: inline-block;
  padding: 30px;

  .contactContents {
    padding: 1em;
    padding-left: 2em;
    margin: 1em;

    .contactLinks {
      justify-content: space-around;
      margin: 1em;
      display: flex;
      flex-flow: row wrap;
    }

    .contactInfo {
      font-family: 'Baloo Thambi 2', cursive;
      font-size: 20px;
    }

    .email, .fa-linkedin {
      font-family: 'Share Tech', sans-serif;
      font-size: 2em;
    }

    @media only screen and (max-width: 800px) {

      padding: 0;
      margin-top: 10px;
  
      .title {
        font-size: 90%;
      }
  
    }


  }
  
}