.Contact {
  .contactContents {
    padding: 1em;
    padding-left: 2em;
    margin: 1em;

    .contactLinks {
      justify-content: space-around;
      margin: 1em;
      display: flex;
      flex-flow: row wrap;
    }

    .contactInfo {
      font-family: 'Baloo Thambi 2', cursive;
      font-size: 20px;
    }

    .email, .fa-linkedin {
      font-family: 'Share Tech', sans-serif;
      font-size: 2em;
    }

  }
  
}