.NavBar {
  font-family: 'Press Start 2P', cursive;

  #navLinks {
    display: flex;
    justify-content: space-around;
  }

  .navbar {
    margin-top: 5px;
  }

  #myName {
    border: 5px double limegreen;
    border-radius: 2em;
    font-family: 'Press Start 2P', cursive;
    box-shadow: 5px 5px 10px rgb(45, 112, 48);
  }

  .subtitle {
    font-family: 'Share Tech', sans-serif;
    color: rgb(45, 112, 48);
  }

  .btn, #myName {
    background-color: black;
    color: limegreen;
    padding: .75em;
    // border: 5px double limegreen;
    border-radius: 2em;
    font-family: 'Press Start 2P', cursive;
    box-shadow: 5px 5px 10px rgb(45, 112, 48);
    margin: 3px;
}

.btn-dark:hover {
  color: yellowgreen;
  box-shadow: 5px 5px 10px yellowgreen;
}

.btn-dark:active, .btn-dark:active:focus {
  color: rgb(0, 0, 0);
  background-color: limegreen;
}

@media only screen and (max-width: 650px) {
  .navbar {
      flex-direction: column;
      align-content: center;
      margin: 0 3em 0 0em;
      justify-content: center;
      text-align: justify;
  }
}

}
