.NavBar {
  font-family: 'Electrolize', sans-serif;
  position: sticky;

  #navLinks {
    display: flex;
    justify-content: space-around;
  }

  .navbar {
    margin-top: 5px;
  }

.btn-dark:hover {
  color: yellowgreen;
  box-shadow: 5px 5px 10px yellowgreen;
}

.btn-dark:active, .btn-dark:active:focus {
  color: rgb(0, 0, 0);
  background-color: limegreen;
}

@media only screen and (max-width: 650px) {
  .navbar {
      flex-direction: column;
      align-content: center;
      margin: 0 3em 0 0em;
      justify-content: center;
      text-align: justify;
  }
}

}
