.Technologies {
  width: 60%;
  display: inline-block;
  padding: 30px;


  .techContents {
    border-radius: 2em;
    padding: 1em;
    padding-left: 2em;
    margin: 1em;

    .fa-sass, .fa-aws{
      font-size: 28px;
    }

    .fa-npm{
      font-size: 32px;;
    }

    .techInfo {
      font-family: 'Baloo Thambi 2', cursive;
      font-size: 20px;
    }

  }

  @media only screen and (max-width: 800px) {

    padding: 0;
    margin-top: 10px;

    .title {
      font-size: 80%;
      margin-left: -1em;
    }

    .techInfo {
      margin-left: -1em;
    }
  }

}