.Technologies {
  .techContents {
    background-color: rgba(0, 0, 0, 0.60);
    color: rgb(45, 112, 48);
    border-radius: 2em;
    padding: 1em;
    border: limegreen dotted 2px;
    padding-left: 2em;
    margin: 1em;
    box-shadow: 5px 5px 10px rgb(45, 112, 48);
  
    h1 {
      font-family: 'Press Start 2P', cursive;
      color: limegreen;
    }
  }
}